#output{
    background-color: red;
}
body{
    margin: 0;
    padding: 0;
    width: 350px;
    height: 400px;
    /* position: absolute; */
    right: 0;
    min-height: 200px;
    background-color: #6E44FF;
    /* background-color: #8d6aff; */
    border: none;
    border-radius: 20px;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 40px 0 0 0;
    height: 105px;
}
.top .lev1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    /* background-color: red; */
}
.top .lev2{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: rgb(115, 255, 0); */

}
#quiz{
    width: 126px;
    height: 35PX;
    background-color:  #FFFFFF;
    padding: 10px 0 10px 0;
    border: none;
    /* margin: 10px; */
    font-weight: bolder;
    color: #000000;
    font-size: 10PX;
    margin: 0 10px 0 10px;
}
#summary{
    width: 126px;
    height: 35PX;
    background-color:  #FFFFFF;
    padding: 10px 0 10px 0;
    border: none;
    /* margin: 10px; */
    font-weight: bolder;
    color: #000000;
    font-size: 10PX;
    margin: 0 10px 0 10px;
}
#upload{
    width: 126px;
    height: 35PX;
    background-color: transparent;
    padding: 10px 15px 10px 15px;
    border: 0.3px solid #FFFFFF;
    margin: 10px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 10PX;
}
#get-quiz{
    width: 86px;
    height: 35PX;
    background-color: transparent;
    padding: 10px 0 10px 0;
    border: 0.3px solid #FFFFFF;
    margin: 1px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 10PX;
    margin: 10px;
}
#get-summary{
    width: 86px;
    height: 35PX;
    background-color: transparent;
    padding: 10px 0 10px 0;
    border: 0.3px solid #FFFFFF;
    margin: 10px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 10PX;
}
#dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2EBE86;
    margin: 0 10px 0 10px;
    height: 100px;
    border-radius: 5px;
}
.bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    /* background-color: red; */
}
.prof{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
}
.prof #user-pic{
    width: 60px;
     border-radius: 50%;
     margin: 0;
     padding: 0;
}
.prof #user-nam{
    font-size: small;
    margin: 0;
     padding: 0;
}
#logout-btn{
    margin: 10px 0 0 0;
    background-color: transparent;
    padding: 1px 10px 1px 10px ;
    border: 0.3px solid #FFFFFF;
    border-radius: 20px;
    /* margin: 1px; */
    font-weight: 600;
    color: #FFFFFF;
    font-size: 10PX;
}
#logout-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#login-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    
}
#Dash-btn{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    /* border-radius: 20px; */
}
#board{
    margin: 0 10px 0 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#user-info{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
}
#login-btn img, #Dash-btn img{
    width: 40px;
    /* background-color: #303030; */
    margin-left: 4px;
    /* border-radius:3px ; */
}
#login-btn span, #Dash-btn span{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.top input{
    display: none;
}
#files{
    width: 126px;
    height: 35PX;
    background-color: transparent;
    padding: 10px 15px 10px 15px;
    border: 0.3px solid #FFFFFF;
    margin: 10px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 10PX;
}
.file-input{
    display: flex;
    justify-content: center;
    margin: 30px;
}